extends base

block content
    main.main
        each tour in tours
            .tours.container(href="/tour")
                .tour=`tour name: ${tour.name}`
                each guide in tour.guides
                    .guide= `guide: ${guide.name}`
                .description=`About tour: ${tour.description}`
                a(href=`/${user.name}/${tour.slug}`) book now!
                br
                br

