extends base

block content
    main.main
        .main-tours
            .tours-header Every tours
            .tours-function
                .function-search
                    form(action="/").form-search
                        input#search(type="text" name="search")
                        select#select(name="by")
                            option(value="tour-name") tour name
                            option(value="guide-name") guide name
                        input(type="submit" value="search")
                .function-sort
                    a(href="/?sort=-ratingsAverage")
                        .list-items rating
                    a(href="/?sort=price")
                        .list-items price
                    a(href="/?sort=-createdAt")
                        .list-items create
            .tours-content
                if noTour
                    .noTour no tours exist..!
                each tour in tours
                    .tour-card
                        .tour-image
                            img(src=`/img/tours/${tour.imageCover}` alt=`cover image of ${tour.name}`)                        
                        .tour-status
                            .status-items.name=`${tour.name}`
                            .status-items=`guide: ${tour.guides[0].name} (${tour.guides[0].ratingsAverage}/5)`
                            .status-items=`$${tour.price}`
                            .status-items=`${tour.startDate.toISOString().split("T")[0]} ~ ${tour.endDate.toISOString().split("T")[0]}`
                        a(href=`/${tour.guides[0].name}/${tour.slug}`) 
                            .tour-look see detail
            .paginate
                if (page > 1)
                    a(href=`/?page=${page*1 -1}`)
                        .next <<
                if (page < Math.round(docLength/8)+1)
                    a(href=`/?page=${page*1 +1}`)
                        .next >>
        .main-chart
            .chart-header Top 5 guides
            .chart-content
                table.table-chart
                    each guide, i in guides
                        tr
                            th=i+1
                            th 
                                a(href=`/${guide.name}`)=guide.name
                                    img(src=`/img/users/${guide.photo}`)
                            td=`${guide.ratingsQuantity} reviews (${guide.ratingsAverage}/5)`
